first_attempt/.ipynb_checkpoints/gdppc_experiments-checkpoint.ipynb
first_attempt/gdppc_experiments.ipynb
first_attempt/Exploration of GDPPC.gdoc
data/madison_project_data_2020.xlsx
first_attempt/gdppc_data.csv
